
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

#direction-search-container {
    top: 0px;
    left: 0px;
    margin: 10px;
    padding: 10px;
    padding-left: 36px;
    position: absolute;
    z-index: 2;
    width: 70%;
    max-width: 200px;
    background-color: #aaaaaa88;
}

#direction-search-container:focus-within {
    max-width: 400px;
}

#hide-search-section {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 36px;
    height: 100%;
    padding: 0;
    -webkit-appearance: none;
    border-radius: 2px;
    border-width: 0px;
}

#routeDetails {
    padding-top: 3px;
}

#routeDetails span {
    color: white;
    padding-left: 10px;
}

.search-box {
    width: 100%;
    margin-bottom: 10px;
    height: 28px;
    font-size: 18px;
}

.search-box-last {
    margin-bottom: 0px;
}

.search-btn {
    background: white;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    position: absolute;
    align-content: center;
}

.search-btn:hover {
    background: #ccc;
}

.clear-btn {
    right: 0px;
    font-size: 20px;
    color: #4b4b4b;
  }

  .clear-btn:hover {
    color: #000;
  }

  .clear-btn-separate {
    left: 60px;
    font-size: 20px;
    color: #4b4b4b;
    position: absolute;
    margin-top: 40px;
  }

  .clear-btn-separate:hover {
    background-color: lightslategray;
  }

  .curr-location-nav {
    right: 2px;
    padding-left: 3px;
  }

.top-search-buttons {
    top: 12px;
    position: absolute;
}

.bottom-search-buttons {
    top: 50px;
    position: absolute;
}

#show-directions-container {
    position: relative;
    z-index: 5;
    margin: 10px;
    width: fit-content;
    display: none;
}

#show-directions-container > span {
    color: white;
    padding-left: 7px;
}


/* #header {
    position: flex;
    top: 0;
    height: 50px;
    width: 100%;
    background: whitesmoke;
} */

#title {
    display: inline-block;
    padding: 10px 0px 10px 10px;
    font-size: 28px;
}

#footer {
    position: absolute;
    height: 80px;
    bottom: 0;
    width: 100%;
    background: whitesmoke;
}

#keyTitle {
    background: #2c2c2c;
    height: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    box-sizing: border-box;
    padding: 6px;
    font-size: 13px;
}

#key {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.keyEle {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1;
    box-sizing: border-box;
    height: 50px;
    width: 300px;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.54);

}

.modal {
    position: relative;
    margin: 0 auto;
    z-index: 12;
    padding: 10px;
    background-color: gray;
    top: 30px;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    border-radius: 4px;
    min-width: 200px;
    min-height: 200px;
}

.modal img {
    padding: 5px;
    padding-top: 15px;
    max-width: 95%;
    margin: auto;
    display: block;
}

#info-icon-container {
    top: 0px;
    right: 0px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width: fit-content;
}

#style-icon-container {
    top: 42px;
    right: 0px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width: fit-content;
}

#info-box table {
    padding-top: 10px;
}

#info-box td {
    padding-bottom: 10px;
    padding-left: 10px;
}

#info-box .legend-checkbox {
    transform: scale(1.5);
    margin-right: 20px;
    cursor: pointer;
}

#map-style-selection input {
    transform: scale(1.5);
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#feedback-button-container {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.legend-info {
    max-width: 700px;
}

.legend-info-title {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 10px;
}

/* This is to allow us to put the new icons over
parts of the navigation control but not all.
Otherwise the parent z-index makes things difficult */
/* .mapboxgl-ctrl-top-left {
    z-index: unset !important;
} */

#existing {
    background: #eee;
    color: black;
}

#greenways {
    background: #28B463;
}

#programmed {
    background: #3498DB;
}

#citrix {
    background: #f9423a;
}

.mapboxgl-ctrl-group > button{
    width: 30px !important;
    height: 30px !important;
}

.mapboxgl-ctrl-geolocate > button{
    width: 30px !important;
    height: 30px !important;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {
    /* margin: 0 20px 20px 0 !important; */
    margin-bottom: 20px !important;
}

/* .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 30px 30px 0 0 !important;
} */

.greenway-legend {
    stroke: #28B463;
    stroke-width: 8;
    padding-top: 5px;
}

.greenway-closed-legend {
    stroke: #CC0000;
    stroke-width: 8;
    padding-top: 5px;
}

.greenway-detour-legend {
    stroke: #ff6600;
    stroke-width: 8;
    padding-top: 5px;
}

.existing-legend {
    stroke: #bd35bd;
    stroke-width: 8;
    padding-top: 5px;
}

.programmed-legend {
    stroke: #3498DB;
    stroke-width: 8;
    padding-top: 5px;
}

/* Meterial Icons Styles */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.black-border {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.close-button {
    float: right;
}

.button {
    background-color: Crimson;  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
}
  
.button:focus,
.button:hover {
    background-color: FireBrick;
    color: White;
}

.gaugeMarker {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    cursor: pointer;
}

.gaugeMarker_info {
    width: 20px;
    height: 20px;
    background-image: url('img/water_icon.png');
    background-color: lightblue;
    border-radius: 100%;
}

.gaugeMarker_legend {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.gaugeMarker_warn {
    background-image: url('img/warn_icon.png');
}

.gaugeMarker_flood {
    background-image: url('img/flood_icon.png');
}

#context-menu-popup {
    font-size: 13px;
}

#follow-location {
    left: 10px;
    bottom: 30px;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: large;
    font-weight: 600;
}

#follow-location span {
    vertical-align: middle;
}

#no-lock-icon {
    color: rgba(255, 255, 255, 1);
}

.loader {
    background-color: #3498db;
    width: 220px;
    -webkit-animation: movebar 1s linear infinite; /* Safari */
    animation: movebar 1s linear infinite;
    position: absolute;
    z-index:1000;
    height: 8px;
  }
  
  .loader-background {
      width: 100%;
      background-color: rgba(211, 211, 211, 0.411);
      position: absolute;
      z-index:999;
      height: 8px;
  }
  
  #loader-container {
      width: 100%;
      position: absolute;
      top: 0px;
      display: none;
  }

  .custom-follow-icon {
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 50px solid #0eff06;
  }



/* Safari */
@-webkit-keyframes movebar {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100vw); }
  }
  
  @keyframes movebar {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100vw); }
  }